@import "bootstrap/variables.less";


.navbar-spacer {
    margin-top: @navbar-height + 20px;
}

div{
    .on {
        background-color: #99FF95;
    }
    .off{
        background-color: #FF9ABC;
    }
}


.side-bar {
    border-style: solid;
}

.card-content {
    border-style: solid;
    margin-top: 10px;
    color : black;
}

.card-title{
    font-size : 250%;
}

.black-text{
    color : black;
}

.validation-summary {
    padding: 1px 20px;
    margin-bottom: 50px;
}

li{
    list-style-type: none;
}

.descript{
    text-align : justify;
}
