@model GreenLight.Models.Comment

@if (!User.Identity.IsAuthenticated)
{
    <div id="notAuthenticated">
        <div class="require-Login">
            <input type="text" class="form-control" value="댓글을 입력하기 위해서 로그인을 해 주세요" readonly />
        </div>
    </div>
}

else
{
    using (Html.BeginForm("AddComment", "Home", FormMethod.Post, new { id = "commentForm", @class = "form-horizontal" }))
    {
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="input-group">
            @Html.HiddenFor(m => m.PostId)
            <div class="form-group" id="commentFormGroup">
                <div id="writingWrapper">
                    <input type="text" class="form-control search" id="Writing" name="Writing" placeholder="댓글 입력">
                </div>
                <span class="field-validation-valid help-block" data-valmsg-for="Writing" data-valmsg-replace="true"></span>

                <Input class="btn btn-default" id="commentSubmit" type="submit" value="게시">
            </div>
        </div>
    </div>
    }
}
