@model GreenLight.Models.Comment

@if (!User.Identity.IsAuthenticated)
{
    <input type="text" class="Require-login "value="댓글을 입력하기 위해서 로그인을 해 주세요" readonly />
    <button class="btn btn-default" type="button">@Html.ActionLink("로그인", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</button>
}

else
{
    using (Html.BeginForm("AddComment", "Home", FormMethod.Post, new { id = "commentForm" }))
    {
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="input-group">
            @Html.HiddenFor(m => m.PostId)
            @Html.EditorFor(m => m.Writing)
            <span class="input-group-btn">
                <button class="btn btn-default" type="submit">댓글 입력</button>
            </span>
        </div>
    </div>
    }
}
