@using GreenLight.Models
@model IEnumerable<GreenLight.Models.Comment>

@Html.Partial("_AddComment",new Comment(ViewBag.postId))

<div class="col-xs-12">
    <table class="commentSection table-bordered">
        @foreach (var c in Model.OrderBy(a => a.CreatedOn))
        {
            <tr>
                <td class="userIcon">
                    Picture
                </td>
                <td class="writingColumn">
                    <div class="writingDiv">
                        @Html.DisplayFor(a => c.Writing) <br />
                        <span class="likeInfo text-muted">Likes: @Html.DisplayFor(a => c.Likes)</span>
                    </div>
                </td>
                <td class="deleteCommentColumn">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div class="deleteComment">
                            <button type="button" class="btn btn-danger" data-commentid="@c.Id">댓글 삭제</button>
                        </div>
                    }
                </td>
            </tr>
        }
    </table>
</div>
