@using GreenLight.Models
@model IEnumerable<GreenLight.Models.Comment>

@Html.Partial("_AddComment",new Comment(ViewBag.postId))

@foreach (var c in Model.OrderBy(a=>a.CreatedOn))
{
    <div class="descript">@Html.DisplayFor(a => c.Writing)</div>
    <button type="button" class="btn btn-danger deleteComment" data-commentid="@c.Id">Delete</button>
}