@using GreenLight.Models
@model IEnumerable<GreenLight.Models.Comment>

@Html.Partial("_AddComment",new Comment(ViewBag.postId))


<div class="col-lg-12">
    <table class="commentSection table">
        @foreach (var c in Model.OrderBy(a => a.CreatedOn))
        {
            <tr>
                <td>
                    Picture
                </td>
                <td>
                    @Html.DisplayFor(a => c.Writing) <br />
                    <span class="likeInfo text-muted">Likes: @Html.DisplayFor(a => c.Likes)</span>
                </td>
                <td class="deleteComment">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <button type="button" class="btn btn-danger" data-commentid="@c.Id">댓글 삭제</button>
                    }
                </td>
            </tr>
        }
    </table>
</div>
