@{
    ViewBag.Title = "어서오세요 불빛들이여";
}

<div id="index-background">
    <div id="index-context">
        <h2>그린라이트</h2>
        <table>
            <tr>
                <td class="index-col">
                    <div class="index-button">
                        <a href="@Url.Action("OnorOff", "Home")" class="black-font index-link">
                            <span class="index-text">
                                <span class="index-inside-text">이야기들</span>
                            </span>
                        </a>
                    </div>
                </td>
                <td class="index-col">
                    <div class="index-button">
                        <a href="@Url.Action("OnorOff", "Home")" class="black-font index-link">
                            <span class="index-text">
                                <span class="index-inside-text">고민들</span>
                            </span>
                        </a>
                    </div>
                </td>
            </tr>
            <tr>    
                <td colspan="2" class="index-col-2">
                    <div class="index-button">
                        <a href="@Url.Action("Login", "Account", new { @returnUrl = HttpContext.Current.Request.RawUrl})" class="black-font index-link">
                            <span class="index-text">
                                <span class="index-inside-text-long">로그인 / 회원가입</span>
                            </span>
                        </a>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            $('.navbar').hide();
        });
    </script>
}